:root {
    --body-background-color: #121212; 
    --border-radius: 10px;
    --border-width: 10opx;
    --panel-background-color: rgb(99, 33, 253);
    --panel-color: rgb(212, 212, 212);
    --panel-border-color: rgb(0, 0, 0);
    --gradient-color-1: #ADD8E6;
    --gradient-color-2: rgb(57, 176, 216);
}

body {
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: var(--body-background-color);
    color: white;
    border-radius: var(--border-radius);
    corner-shape: squircle;
}

div {
    align-items: center;
    margin: auto;
    padding: 5px;
}

p {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

i {
    font-size: smaller;
    text-align: center;
}

a {
    color: var(--gradient-color-2)
}

button {
    cursor: pointer;
}

.gradient {
    font-weight: 700;
    background-image: linear-gradient(90deg,var(--gradient-color-1), var(--gradient-color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    max-width: 800px;
    background-color: var(--panel-background-color);
    color: var(--panel-color);
    border-color: var(--panel-border-color);
    border-radius: var(--border-radius);
    corner-shape: squircle;
    border-width: var(--border-width);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fade linear 0.5s;
    
}

.panel-element {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: var(--border-radius);
    corner-shape: squircle;
    color: var(--panel-color);
    border-color: var(--panel-border-color);
    border-width: var(--border-width);
}

.control-group {
    display: flex;
}

.select {
    border-radius: var(--border-radius);
}

.select:hover {
    border-color: var(--gradient-color-2);
}

.select:highlight {
    border-color: var(--gradient-color-2);
}

.select:focus {
    border-color: var(--gradient-color-2);
}

.bar {
    display: flex;
    flex-direction: row;
    color: white;
    background-image: linear-gradient(0deg, var(--gradient-color-1), var(--gradient-color-2));
    border-radius: var(--border-radius);
}


@keyframes fadeUp {
    from  {
        opacity: 0;
         transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#array-input {
    max-width: 150px;
}